p.basics-summary {
      margin: 15px 0 !important;
    }
    p.basics-contact {
      margin: 0 !important;
    }
    h3 {
      margin-top: 10px !important;
    }
    h3.section-heading {
      color: #ef541d !important;    
    }
    h4.institution-name {
        color: #777 !important;
    }
    .interest-item {
      line-height: 26px;
    }
    a[href] {
      /* text-decoration: underline !important; */
      color: #ef541d !important;
    }

    @media print {
      a[href] {
        text-decoration: underline !important;
        color: #ef541d !important;
      }
      a[href]:after {
        content: none !important;
      }
      p, strong, li, body {
        color: #999 !important;
      }
      h4.institution-name {
          color: #999 !important;
      }
    }