@import url(http://fonts.googleapis.com/css?family=Fenix);

html {
  /*-webkit-font-smoothing: antialiased;*/
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
  font-family: "Times New Roman";
  font-size: 20px;
  display: inline;
  font-weight: 300;
}
body {
  background: #EEEEEE;
  font: 13px "Fenix", Times, sans-serif;
  line-height: 1.25;
  margin: 0 !important;
  padding: 0 !important;
}
#resume-container {
  margin: 40px 0;
}
em {
  color: #999;
}
p {
  line-height: 1.4;
}
.highlights p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-bottom: 0;
}
li {
  margin-bottom: 2px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#resume-banner {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5em 1em;
  padding: 0;
}

.date {
  font-style: italic;
}
#resume {
  margin: 0 auto;
  max-width: 55em;
  padding: 60px 70px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px #aaa;
  -webkit-box-shadow: 2px 2px 4px #aaa;
}
#basicsBlock {
  display: inline-block;
  padding: 0 1em;
  vertical-align: top;
  padding-top: 2em;
  line-height: 2;
}
#profilesBlock {
  line-height: 2;
}

.top img {
  display: inline-block;
  width: 100px;
}

.largeFont {
  font-size: 20px;
}

.sectionName {
  vertical-align: top;
  display: inline-block;
  font-size: 15px;
  font-style: bold;
}

.sectionContent {
  vertical-align: top;
  display: inline-block
}

.sectionContent ul {
  padding-left: 20px;
  margin-top: 6px;
  list-style-type: circle;
}

.title {
  font-weight: bold;
}

.sectionContent .date {
  float: right;
}

.sectionContent .separator {
  height: 4px;
}

.sectionLine {
  border-style: dashed;
  border-width: 1px;
  border-color: #CFCFCF;
  margin-top: 6px;
  margin-bottom: 6px;
}

.divider {
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
}

.summary {
  margin-top: 6px;
}

.flexbox-container .course p {
  margin: 0.25em 0;
}

/* Flexbox */
.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flexbox-container > div {
  width: 50%;
  padding: 2 10px;
  margin-left: 1px;
}

.flexbox-container > div:first-child {
  padding-left: 0;
  margin-left: 0;
}


/* Media Queries */
@media only screen and (max-width: 40em) {
  #resume-banner {
    display: none;
  }
  body {
    font-size: 14px;
  }
  #resume-container {
    margin: 0;
  }

  #resume {
    margin: 0 auto;
    max-width: 600px;
    padding: 0.25em 1em 1em;
    border: none;
  }
  .top img {
    display: none;
  }
  #basicsBlock {
    display: inline;
    padding: 0;
    vertical-align: top;
    line-height: 1.6;
  }
  .sectionContent {
    width: 100%;
  }
  .sectionContent .date {
    padding-right: 2em;
  }
  .sectionName {
    width: auto;
  }
  .largeFont {
    font-size: 20px;
  }
  .smallFont {
    font-size: 14px;
  }
}

@media print {
  #resume-banner {
    display: none;
    margin: 0;
    padding: 0;
  }
  body {
    font: 12px "Times New Roman", Times, sans-serif;
    line-height: 1.15;
    margin: 0;
    padding: 0;
  }
  #resume {
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
    border: 0px;
    background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}