/*@import url(
	https://fonts.googleapis.com/css?family=Lato:400,700
);*/
body {
	background: #F4F7F3;
	margin: 0 0 80px;
	
}
a {
	color: #EF0E52;
	font-weight: nor;
	background-color: rgba(255, 0, 116, 0.03);
	border-bottom: 1px dotted;
	padding: 2px 5px;
}
a:focus,
a:hover {
	color: #F53795;
	border-bottom: 1px solid;
	text-decoration: none;
}
div, p {
	line-height: 20px;
	margin: 0;
	font-weight: 300;
}
p + p {
	margin-top: 10px;
}
h1,
h2,
h3,
h4 {
	margin-top: 0;
	font-family: 'Open Sans', sans-serif;
}
section {
	margin-top: 30px;
}
ul {
	padding-left: 20px;
}
li {
	line-height: 20px;
	list-style: none;
	margin-bottom: 10px;
	color: #526651;
}
li:before {
	content: "\f111";
	float: left;
	font: 8px FontAwesome;
	margin-top: 9px;
	margin-left: -20px;
	opacity: .1;
	position: absolute;
}
blockquote {
	border-left: 5px solid #e7e9ec;
	font-size: 14px;
}
em {
	color: #95a5a6;
	font-weight: normal;
	font-style: normal;
}
h4 span:first-child {
	color: #000;
	font-weight: bold;
}
.container {
	max-width: 750px;
	padding: 0 30px;
}
.col-sm-6 {
	margin-bottom: 10px;
}
.col-sm-12 h4 {
	margin-top: 12px; 
}
.col-sm-12 + .col-sm-12 {
	margin-top: 30px;
}
#header {
	background: #fff;
	padding: 50px 0;
	margin-bottom: 30px;
}
#header h1 {
	font-size: 50px;
	font-weight: bold;
  	margin-bottom: 0;
}
#header h2 {
	color: #95A5A6;
	font-size: 22px;
	font-weight: 200;
	font-family: 'Roboto Mono';
	margin-top: 10px;
}
#content h3 {
	color: #75A066;
	font-size: 20px;
	margin-top: -4px;
	font-family: 'Roboto Mono';
	font-weight: 300;
	display: inline-block;
	padding: 5px;
	border-bottom: 1px dotted;
}
#content aside {
	text-align: right;
	padding-right: 30px;
}
#profiles .network {
	text-transform: capitalize;
}
#work .position,
#volunteer .position {
	margin: 0px 0 10px;
	font-family: 'Roboto Mono';
	font-weight: 500;
	font-size: 14px;
	color: #55934B;
}
#education .area {
	font-weight: bold;
}
#education .area:before {
	
}
#education .studyType {
	margin-left: 25px;
}
#awards .summary,
#publications .summary {
	margin-top: 8px;
}
#publications .website a:before {
	content: attr(href);
}

@media (min-width: 480px) {
	.strike-through {
		border-top: 1px solid #f4f6f6;
		height: 20px;
		margin-top: 12px;
		margin-bottom: -2px;
		position: relative;
	}
	.strike-through span,
	.strike-through a {
		position: absolute;
	}
	.strike-through span:first-child {
		padding-right: 20px;
		margin-top: -12px;
	}
	.strike-through span + span {
		font-size: 14px;
		margin-top: -10px;
		padding-left: 20px;
		right: 0;
	}
}
@media (max-width: 768px) {
	.col-sm-6:last-child {
		margin-bottom: 0px;
	}
	#content aside {
		margin-bottom: 20px;
		padding-right: 0;
		text-align: left;
	}
	#publications .website a:before {
		content: "View publication";
	}
}
@media (max-width: 480px) {
	h1 {
		font-size: 26px;
	}
	.date {
		font-size: 14px;
		margin-bottom: 5px;
	}
	
	#header {
		margin-bottom: 10px;
		padding: 40px 0;
	}
	#actions {
		display: none;
	}
}