section header h3 {
		  margin: 0;
		}
		section > div {
		  border-left: 1px solid #efefef;
		}
		section {
		  min-height: 100px;
		  margin-bottom: 30px;
		}
		section div > h3 {
		  padding: 0;
		  margin: 0;
		}