body {
	font-family: 'Roboto', sans-serif;
	background: white;
	font: 15px Arial, Helvetica, sans-serif;
	line-height: 1.4;
	margin: 0px !important;
	margin-bottom: 100px;
	overflow-x: hidden;
}
em {
	color: #999;
}
p {
	line-height: 1.4;
}
ul {
	margin-bottom: 0;
}

h3 {
	color: #029DDB;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}
section {
	margin-bottom: 2em;
	padding: 0 20%;
}
blockquote {
	margin: 0;
	margin-bottom: 1em;
}
#contact {
	background: #F0F0F0;
	margin-top: 0;

}
#title {
	display: flex;
	position: relative;
	padding-bottom: 20px;
}
#title > div:first-child {
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
}
#header  {
	background: #F0F0F0;
	padding: 10px 20%;
}
.picture {
	flex: 1;
	padding: 0 20px;
}
img {
	max-width: 100%;
	max-height: 100%;
}
.item {
	margin-bottom: 1em;
}

#basics {
	margin-bottom: -10px;
}
#basics h3 {
	margin-top: 1.5em;
}
#basics .contact strong,
#location strong {
	clear: both;
	float: left;
	line-height: 1.3;
	width: 120px;
}
#profiles,
#skills {
	overflow: hidden;
}
#profiles .item,
#skills .item {
	float: left;
	width: 50%;
}



.keywords {
	display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.keywords > li {
	margin: 0 0.2em 0.2em 0;
    padding: 0.2em 0.6em;
	background: #F0F0F0;
}

.keywords li::before {
	content: ""
}


@import url(
	https://fonts.googleapis.com/css?family=Lato:400,700
);
a {
	color: #2ecc71;
}
a:focus,
a:hover {
	color: #f1c40f;
	text-decoration: none;
}
p {
	line-height: 1.5;
	margin: 0;
}
p + p {
	margin-top: 10px;
}
h1,
h2,
h3,
h4 {
	margin-top: 0
}

li {
	line-height: 1.8;
	list-style: none;
}
li:before {
	content: "\f052";
	float: left;
	font: 13px Octicons;
	margin-top: 6px;
	margin-left: -20px;
	opacity: .3;
	position: absolute;
}
blockquote {
	border-left: 5px solid #e7e9ec;
	font-size: 14px;
}
em {
	color: #95a5a6;
	font-weight: normal;
	font-style: normal;
}
h4 span:first-child {
	color: #000;
	font-weight: bold;
}
.name {

}
.container {
	max-width: 750px;
	padding: 0 30px;
}
.col-sm-6 {
	margin-bottom: 10px;
}
.col-sm-12 h4 {
	margin-top: 12px; 
}
.col-sm-12 + .col-sm-12 {
	margin-top: 30px;
}

#content h3 {
	color: #f1c40f;
	font-size: 26px;
	margin-top: -4px;
}
#content aside {
	text-align: right;
	padding-right: 30px;
}
#profiles .network {
	text-transform: capitalize;
}
#work .position,
#volunteer .position {
	font-weight: bold;
}
#education .area {
	font-weight: bold;
}
#education .area:before {
	content: "\f0d7";
	font: 16px Octicons;
	margin-right: 6px;
}
#education .studyType {
	margin-left: 25px;
}
#awards .summary,
#publications .summary {
	margin-top: 8px;
}
#publications .website a:before {
	content: attr(href);
}

@media (min-width: 480px) {
	.strike-through {
		border-top: 1px solid #ddd;
		height: 20px;
		margin-top: 12px;
		margin-bottom: -2px;
		position: relative;
	}
	.strike-through span,
	.strike-through a {
		background: #fff;
		position: absolute;
	}
	.strike-through span:first-child {
		padding-right: 20px;
		margin-top: -12px;
	}
	.strike-through span + span {
		font-size: 14px;
		margin-top: -10px;
		padding-left: 20px;
		right: 0;
	}
}
@media (max-width: 768px) {
	.col-sm-6:last-child {
		margin-bottom: 0px;
	}
	#content aside {
		margin-bottom: 20px;
		padding-right: 0;
		text-align: left;
	}
	#publications .website a:before {
		content: "View publication";
	}
	section {
		padding: 0 20px;
	}
	#header {
		padding: 20px;
	}

}
@media (max-width: 480px) {
	h1 {
		font-size: 26px;
	}
	.date {
		font-size: 14px;
		margin-bottom: 5px;
	}
	.strike-through span:first-child {
		margin-bottom: 7px;
	}
	.strike-through span {
		display: block;
	}	
	#actions {
		display: none;
	}
}