body{
    font-family:Arial, Helvetica, sans-serif;
}

#sidepanel {
    height: 100%;
    width: 25%;
    position: fixed;
    background-color: #373737;
    color: white;
}

#sidepanel .info{
    padding-left: 5px; /*Move the info right 5 px*/
}

#sidepanel .header{
    background-color: #282828;
    padding-left: 5px; /*Move the headers right 5 px*/
}

#content {
    width: 74%;
    padding: 10px 0px; /*Move the right panel down by 10 px*/
    float: right;
}
.item{
    clear: both;
    font-size: 15px
}
.date{
    float: left;
    height: 100%;
    width: 20%;
}
#work .item .date{
    padding-top: 5px;
}
.college{
    float: right;
    width: 80%;
}

#work{
    display: inline-block;
}

.institution{
    font-weight: bold;
}

.data{
    float: right;
    width: 80%;
}



.cmpny{
    margin: 0;
}

a{
    color: white;
}
h2{
    margin: 10px 0px 10px 0px;
}

.summary p{
    margin: 10px 0px 10px 0px;
}

#content h2{
    font-size: 20px
}

#content .position h2{
    margin: 0;
}
#content ul{
    padding-left: 0%;
}

t{
    color: gray;
    font-size: smaller
}

highlightHead{
    font-weight: bold;
}

p{
    margin-top: 0%;
    margin-bottom: 0%;
}

#Projects .project .name{
    margin-bottom: 0%;
}

#Projects .project .summary p{
    margin-top: 0%;
    margin-bottom: 0%;
}