* {
				margin: 0;
				padding: 0;
			}
			body {
				max-width: 800px;
				margin: auto;
				padding: 16px;
				font-family: Helvetica, sans-serif;
				font-size: 16px;
				color: #444444;
				background-color: #ffffff;
			}
			h1 {
				font-size: 40px;
				font-weight: normal;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				margin-bottom: 8px;
			}
			h2 {
				font-size: 24px;
				font-weight: normal;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
			}
			h3 {
				font-size: 24px;
				font-weight: normal;
				text-align: left;
				text-decoration: none;
				text-transform: uppercase;
			}
			ul {
				padding-left: 24px;
			}
			p, li {
				font-weight: normal;
				text-align: left;
				text-decoration: none;
				margin-bottom: 8px;
			}
			a {
				color: inherit;
				font-weight: inherit;
				text-decoration: underline;
				text-align: inherit;
			}
			span {
				white-space: nowrap;
			}
			img {
				max-width: 25%;
				float: right;
				margin-left: 8px;
				margin-bottom: 8px;
			}
			svg {
				height: 1em;
				fill: #444444;
			}
			@media (prefers-color-scheme: dark) {
				body {
					color: #ffffff;
					background-color: #222222;
				}
				svg {
					fill: #ffffff;
				}
			}